<!DOCTYPE html>
<html>
<head>
  <title>BoatFight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <footer>
    <div class="container">
      <p>created by wes</p>
    </div>
  </footer>
</body>
</html>
